<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liveum | Профиль</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    {{> header}}
    <div class="container">
        <div class="row row_ots">
            <div class="col-md-3">
                <h1>Профиль</h1>
            </div>
        </div>
        <div class="row">
            {{#each profilename}}
            <div class="col-md-2" style="border: 1px solid grey;">
                <img src="/profileimages/{{img_user}}" alt="Нет изображения" width="200px"
                    height="200px">
            </div>
            <div class="col-md-10">
                <h1>Имя пользователя: {{username}}</h1>
                <h4>Адрес электронной почты: {{email}} {{owner}}</h4>
                {{/each}}
                {{#if owner}}
                {{#each profilename}}
                <h3>id: {{id_user}} </h3>
                <h4>Изменить профиль:</h4>
                <a href="/editprofile/{{id_user}}">Здесь</a>
                {{/each}}
                {{/if}}
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each querys}}
            <div class="col-md-4 card">
                <div class="profile-card">
                    <img src="/images/{{img}}" alt="">
                    <hr>
                    <h5>{{this.title}}</h5>
                    <p class="texx">{{this.text}}</p>
                    <h6>Категория: {{name}}</h6>
                    <a href="/{{name}}/{{id}}" class="btncolorblue">Читать</a> <br>
                    {{#if owner}}
                    <a href="/edit/{{id}}">Редактировать</a>
                    <a href="/delete/{{id}}">Удалить</a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>

</html>